<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106636016039-en8t2edemovpa4d6j4aguassahuosche.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106636016039-en8t2edemovpa4d6j4aguassahuosche</string>
	<key>API_KEY</key>
	<string>AIzaSyC-tr-Bt3aghhX76FyE7oeFY_2UACTLDZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>106636016039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dronaid.dronaidapp</string>
	<key>PROJECT_ID</key>
	<string>project-dronaid-480ca</string>
	<key>STORAGE_BUCKET</key>
	<string>project-dronaid-480ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106636016039:ios:8ed4c08cdaaa2b00101e82</string>
</dict>
</plist>